@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}
/* common styles start  */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

h2 {
  font-size: 40px !important;
}

h3 {
  font-size: 24px !important;
  font-weight: 700 !important;
}

p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

section {
  margin-bottom: 120px;
}

.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary {
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  background: #e55473;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.btn-primary:hover {
  background-color: #fff;
  border: 1px solid #e55473;
  color: #272727;
}
/* common styles end  */

/* banner section start  */
.banner {
  width: 100%;
  max-height: 800px;
  padding-top: 50px;
  background-color: rgba(229, 84, 115, 0.1);
}
#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-left {
  width: 50%;
}

.banner-left p {
  margin: 30px 0 20px 0;
}
.banner-right {
  width: 50%;
  text-align: right;
}
/* banner section end  */
/*  our feature section start  */
.feature {
  text-align: center;
}

.feature > p {
  margin: 20px 0 50px 0;
}

.feature-img {
  display: flex;
  justify-content: space-between;
}

.f-img-box {
  width: 32%;
  display: flex;
  flex-direction: column;
}

.f-img-with-bg-1 {
  border-radius: 300px 300px 0px 0px;
  background-color: rgba(167, 33, 98, 0.15);
  height: 540px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.f-img-box > h3 {
  text-decoration: underline !important;
  margin-top: 30px;
  cursor: pointer;
}

.f-img-with-bg-2 {
  border-radius: 300px 300px 0px 0px;
  background-color: #d9eff1;
  height: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-img-with-bg-3 {
  border-radius: 300px 300px 0px 0px;
  background-color: #e3ebdb;
  height: 540px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
/*  our feature section end   */
/*  optional section start  */
.delivery {
  background-color: #f4f4f4;
  padding: 100px 0;
}
.d-box-wrapper {
  width: 1090px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.delivery-box {
}
.delivery-box > p {
  color: #505050;
  font-size: 24px;
  margin-top: 20px;
}
/*  optional section end  */
/* hot deal section start  */
.hot-deal {
  background: #fceef1;
  height: 630px;
  display: flex;
  align-items: center;
}

.hot-deal-wrapper {
  width: 1090px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hot-deal-left {
  width: 60%;
  text-align: center;
}

span {
  color: #e55473;
}

.hot-deal-left p {
  margin: 20px 0;
}

.hot-deal-right {
  width: 40%;
  text-align: right;
}
/* hot deal section end  */
/* instagram section start  */
.instagram {
}
#instagram > h2 {
  text-align: center;
}
#instagram > p {
  text-align: center;
  margin: 20px 0 40px 0;
}

.img-box {
  display: flex;
  justify-content: space-between;
}
/* instagram section end  */

/* newslater section start  */

.newslater {
  text-align: center;
  background-image: url("../img/Rectangle 9.png");
  height: 450px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newslater > p {
  margin: 20px 0;
}

.email-box {
}

input[type="email"] {
  width: 50%;
  padding: 15px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  outline-color: #e55473;
}

input::placeholder {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.submit-btn {
  padding: 15px 20px;
}
/* newslater section end  */
footer {
  height: 450px;
  background-color: #111010;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer > h2 {
  color: #fff;
}
footer > p {
  color: #fff;
  margin: 10px 0;
}

.copyright {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
}
